@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$border-teal: #{rgba($teal-800, 1)};

[data-bs-theme="custom"] {
  --bs-primary: $teal-700;
  --bs-primary-rgb: #{to-rgb($teal-700)};
  --bs-primary-hover: $teal-600;
  --bs-primary-active: $teal-700;

  &.login-bg {
    background-color: $teal-100;
  }

  --bs-success: #22c55e;
  --bs-danger: #ef4444;
  --bs-warning: #facc15;
  --bs-info: #4ade80;
  --bs-light: #f0fdf4;
  --bs-dark: #14532d;

  --bs-emphasis-color-rgb: #{to-rgb($white)};

  .btn-primary {
    --bs-btn-bg: #{rgba($teal-700, 1)};
    --bs-btn-border-color: $border-teal;
    --bs-btn-hover-bg: #{rgba($teal-800, 1)};
    --bs-btn-hover-border-color: #{rgba($teal-800, .2)};
    --bs-btn-active-bg: #{rgba($teal-700, 1)};
    --bs-btn-active-border-color: $border-teal;
    --bs-btn-focus-border-color: $border-teal;
    --bs-btn-focus-shadow-rgb: 19, 121, 91;
  }

  .card-header {
    --bs-card-cap-bg: #{rgba($white, 1)};
  }

  .form-check-input:checked {
    background-color: $teal-700;
    border-color: $teal-200;
  }

  .form-check-input:focus {
    border-color: $teal-200;
    box-shadow: 0 0 0 0.25rem rgba($teal-300, .8);
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
