@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$border-teal: #{rgba($teal-800, 1)};

@keyframes background-fill {
  0% {
    background-size: 0% 100%;
    background-color: rgba($teal-700, 0); 
  }
  30% {
    background-size: 100% 100%;
    background-color: rgba($teal-700, 0.15); /* Subtle teal fill */
  }
  80% {
    background-size: 100% 100%;
    background-color: rgba($teal-700, 0.15);
  }
  100% {
    background-size: 100% 100%;
    background-color: rgba($teal-700, 0); 
  }
}

[data-bs-theme="custom"] {
  --bs-primary: $teal-700;
  --bs-primary-rgb: #{to-rgb($teal-700)};
  --bs-primary-hover: $teal-600;
  --bs-primary-active: $teal-700;

  &.login-bg {
    background-color: $teal-100;
  }

  --bs-success: #22c55e;
  --bs-danger: #ef4444;
  --bs-warning: #facc15;
  --bs-info: #4ade80;
  --bs-light: #f0fdf4;
  --bs-dark: #14532d;

  --bs-emphasis-color-rgb: #{to-rgb($white)};

  .btn-primary {
    --bs-btn-bg: #{rgba($teal-700, 1)};
    --bs-btn-border-color: $border-teal;
    --bs-btn-hover-bg: #{rgba($teal-800, 1)};
    --bs-btn-hover-border-color: #{rgba($teal-800, .2)};
    --bs-btn-active-bg: #{rgba($teal-700, 1)};
    --bs-btn-active-border-color: $border-teal;
    --bs-btn-focus-border-color: $border-teal;
    --bs-btn-focus-shadow-rgb: 19, 121, 91;
    --bs-btn-disabled-bg: #{rgba($teal-700, .7)};
  }

  .card-header {
    --bs-card-cap-bg: #{rgba($white, 1)};
  }

  .form-check-input:checked {
    background-color: $teal-700;
    border-color: $teal-200;
  }

  .form-check-input:focus {
    border-color: $teal-200;
    box-shadow: 0 0 0 0.25rem rgba($teal-300, .8);
  }

  .nav-link {
    color: rgba($white, 0.7);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;

    &.focus {
      color: $white !important;
      font-weight: 600;
      opacity: 1;
      border-bottom: 2px solid $white;

      i {
        transform: scale(1.2);
      }
    }
  }

  .animate-fill {
    background-image: linear-gradient(
      to right,
      rgba($teal-700, 0.05), 
      rgba($teal-700, 0.05)
    );
    background-repeat: no-repeat;
    animation: background-fill 2s ease-in-out;
    border-color: $teal-100 !important;
    transition: border-color 0.3s;
  }
  
  .text-yellow {
    color: $yellow-600;
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
